<ion-view title="Question">
	<ion-nav-buttons side="left">
		<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a class="button button-icon icon ion-plus-circled" ng-click="data.showDelete = false; data.showReorder = false" href="#/app/question/add_question"></a>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-list
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
			<ion-item ng-repeat="question in questions">
    			<h2>{{question.question}}</h2>
				<ion-option-button class="button-positive" ng-click="share(question)">
      				Share
				</ion-option-button>
				<ion-option-button class="button-info" ng-click="edit(question)">
					Edit
				</ion-option-button>
				<ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
				</ion-delete-button>
				<ion-reorder-button class="ion-navicon" on-reorder="reorderItem(question, $fromIndex, $toIndex)">
				</ion-reorder-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>